@using Com.O2Bionics.ChatService.Web.Console.Models
@model Com.O2Bionics.Utils.Web.Models.LoginViewModel
@{
    ViewBag.Title = "O2 Чат - Бизнес-мессаджер";
}

<div id="login" class="widget-content panel-body">
    <img src="~/st/i/logo_small.png" style="display: block;
                                      margin-left: auto;
                                      margin-right: auto;
                                      "/>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.LocalDate)
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.RememberMe)
                        Запомнить меня
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button class="btn btn-default">Вход</button>
            </div>
        </div>
    }
    <div class="clearfix"></div>

</div>
<div class="widget-foot">
    <div class="horizontal-links">
       <i class="material-icons">&#xE0DA;</i> @Html.ActionLink("Забыли ваш пароль?", "ForgotPassword")
    </div>
</div>

@section scripts {
    <script language="javascript">
        $(document).ready(function ()
        {
            window.name = '';
            $('#LocalDate').val(new Date().toLocaleString());
        })
    </script>
}